h2{
    display: flex;
    justify-content: space-between;
}



.box1{
    
    border-style: solid;
    border-color: black;
    height: 100px;
    width: 500px;
}

button{
    background-color: darkorange;
}